body {
    margin: 0;
    padding: 0;
}

.main_header {
    display: block;
    display: none;

    width: 125px;
    margin: auto;

    border: 2px solid #000;
}

.main_header > h1 {
    text-align: center;
}

.content {
    display: flex;

    justify-content: flex-start;
}

.show {
    min-width: 15%;
    height: 100%;
    margin-top: 16px;
    margin-left: 5%;
	position: relative;
    flex: 0 0 30%;
}

.show_wrapper {
    padding: 10px;
}

.show_heading {
    margin: 0;

    text-align: center;
    word-wrap: break-word;
}

.show_img {
    display: block;

    width: 50%;
    min-width: 120px;
    height: 50%;
    margin: auto;
}

.row {
    display: flex;

    border: 2px solid #000;

    justify-content: flex-start;
    flex-flow: row;
}

.row:nth-of-type(2n) {
    border-top: 0;
    border-bottom: 0;
}

.row > span {
    text-align: center;
}

.row > .key {
    border-right: 2px solid #000;

    flex: 0 1 70%;
}

.value::first-letter {
    text-transform: uppercase;
}

.row > .value {
    max-width: 30%;

    word-wrap: break-word;

    flex: 0 1 30%;
}

.pokemon_list {
    display: flex;

    padding-left: 20px;

    list-style: none;

    flex: 0 0 50%;
    justify-content: space-between;
    flex-flow: row wrap;
}

.pokemon_list-item {
    display: flex;

    min-width: 150px;
    margin-right: 3%;
    margin-bottom: 20px;

    background: pink;

    flex: 0 2 28%;
    flex-flow: column;
}



.pokemon_item-img {
    width: 120px;
    min-width: 120px;
    height: 120px;
    margin: 0 auto;
}

.pokemon_list-heading {
    margin: 0 0 20px 0;

    text-align: center;
}

.pokemon_list-skills {
    display: flex;

    margin-bottom: 15px;
    padding-left: 15px;

    list-style: none;

    flex-flow: row;
    justify-content: flex-start;
}

.pokemon_list-skills-item {
    margin-right: 20px;
}

.pokemon_list-skills-item::first-letter {
    text-transform: uppercase;
}

.loader_wrapper {
    width: 47%;
    padding-left: 20px;
}

.loader {
    display: block;

    margin: auto;
}

.show_loader {
    position: absolute;
    bottom: -150px;
    right: 40%;
}

.nexp_page-wrapper {
    width: 60%;
}

.next_page {
    font-size: 2em;

    display: flex;
    display: none;

    width: 46%;
    margin-bottom: 20px;
    margin-left: 1%;
    padding: 20px;
    padding-left: 20px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 20px;
    background: blue;

    justify-content: center;
    align-items: center;
}
